
        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">We Serve the Owners of Buildings and Developments, Great and Small, New or Existing</h3>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="https://www.buildingportal.com/home/1/img/buildings-1600x900/NYC-1812763.jpg" target="_blank">
                    <img class="img-responsive img-portfolio img-hover" src="https://www.buildingportal.com/home/1/img/buildings-800x450/NYC-1812763.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="https://www.buildingportal.com/home/1/img/buildings-1600x900/NYC-1836374.jpg" target="_blank">
                    <img class="img-responsive img-portfolio img-hover" src="https://www.buildingportal.com/home/1/img/buildings-800x450/NYC-1836374.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="https://www.buildingportal.com/home/1/img/buildings-1600x900/NYC-building-wallpaper-5.jpg" target="_blank">
                    <img class="img-responsive img-portfolio img-hover" src="https://www.buildingportal.com/home/1/img/buildings-800x450/NYC-building-wallpaper-5.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="https://www.buildingportal.com/home/1/img/buildings-1600x900/NYC-Empire-State-Building.jpg" target="_blank">
                    <img class="img-responsive img-portfolio img-hover" src="https://www.buildingportal.com/home/1/img/buildings-800x450/NYC-Empire-State-Building.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="https://www.buildingportal.com/home/1/img/buildings-1600x900/NYC-magnificent-sunset-behin-chrysler-building-in-nyc-hdr_24482.jpg" target="_blank">
                    <img class="img-responsive img-portfolio img-hover" src="https://www.buildingportal.com/home/1/img/buildings-800x450/NYC-magnificent-sunset-behin-chrysler-building-in-nyc-hdr_24482.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="https://www.buildingportal.com/home/1/img/buildings-1600x900/NYC-manhattan_empire-state.jpg" target="_blank">
                    <img class="img-responsive img-portfolio img-hover" src="https://www.buildingportal.com/home/1/img/buildings-800x450/NYC-manhattan_empire-state.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="https://www.buildingportal.com/home/1/img/buildings-1600x900/NYC-skyscraper-buildings-tower-WTC-US-reflection-wallpaper.jpg" target="_blank">
                    <img class="img-responsive img-portfolio img-hover" src="https://www.buildingportal.com/home/1/img/buildings-800x450/NYC-skyscraper-buildings-tower-WTC-US-reflection-wallpaper.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="https://www.buildingportal.com/home/1/img/buildings-1600x900/NYC-wallpaper-224498-4540280-2-3714721.jpg" target="_blank">
                    <img class="img-responsive img-portfolio img-hover" src="https://www.buildingportal.com/home/1/img/buildings-800x450/NYC-wallpaper-224498-4540280-2-3714721.jpg" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

<!--
Bank of America Atlanta, Dallas
-->
