        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Sign Up to Create a New Account</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="POST" action="/signup">
                            <fieldset>
                                <div class="form-group">
                                    <label>E-mail</label>
                                    <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus>
                                </div>
                                <div class="form-group">
                                    <label>Full Name</label>
                                    <input class="form-control" placeholder="Full Name (First Last)" name="fullname">
                                </div>
<!--
                                <div class="form-group">
                                    <label>Username</label>
                                    <input class="form-control" placeholder="Username" name="username">
                                </div>
-->
                                <div class="form-group">
                                    <label>Password</label>
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <div class="form-group">
                                    <label>Password (repeat to confirm)</label>
                                    <input class="form-control" placeholder="Password (repeat to confirm)" name="password_confirm" type="password" value="">
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-lg btn-primary btn-block">Sign Up</button>
                                </div>

                                {{#flash}}
                                <div id="form-error" class="flash-error">
                                    {{{flash}}}
                                </div>
                                {{/flash}}

                                {{#flash_info}}
                                <div id="form-error" class="flash-info">
                                    {{{flash_info}}}
                                </div>
                                {{/flash_info}}

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
