        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" style="margin: 20px 0 10px;">{{title}}
                    <small>{{tagline}}</small>
                </h1>
                <ol class="breadcrumb">
                    {{#breadcrumbs}}
                        <li><a{{#viewClass}} class="{{viewClass}}"{{/viewClass}}{{#viewRoute}} href="{{viewRoute}}"{{/viewRoute}}>{{viewLabel}}</a></li>
                    {{/breadcrumbs}}
                </ol>
            </div>
        </div>
        <!-- /.row -->

