{{>main_head}}
<body>
{{>main_menu_header}}
    <!-- Page Content -->
    <div class="container">
{{>main_breadcrumbs}}
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8">
{{>blog_home_1_entries}}
            </div>
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">
{{>blog_search_well}}
{{>blog_categories_well}}
{{>blog_widgets_well}}
            </div>
        </div>
        <hr>
{{>main_footer}}
    </div>
    <!-- /.container -->
{{>main_footer_scripts}}
</body>
</html>
