{{>main_head_unscalable}}
<body>
{{>main_menu_header}}
    <div class="container">
{{>main_breadcrumbs}}
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-5">
{{>contact_form}}
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-5">
{{>contact_details}}
                <hr>
{{>contact_map}}
            </div>
        </div>
        <hr>
{{>main_footer}}
    </div>
{{>main_footer_scripts}}
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>
</body>
</html>
